###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

lib/**/*  text eol=lf
test/**/* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
src/automationttsengine/**/* text eol=crlf
src/makevoice/**/*           text eol=crlf
src/Shared/**/*              text eol=crlf
src/Vocalizer/**/*           text eol=crlf

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
*.cs     diff=csharp
